.content {
  margin-left: 18rem;
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-component,
  .print-component * {
    visibility: visible;
  }
  .print-component {
    position: absolute;
    left: 0;
    top: 0;
  }
}
